@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

.exo2 {
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.number {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#fusee {
    position: fixed;
    bottom: 0;
    right: 50%;
    transform: translate(-50% 0);
    z-index: 10;
    height: 250px;
}

.verticalReverse {
    overflow: hidden;
    max-height: 100vh;
}    

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}    

.section {
    height: 100vh;
    width: 100vw;
}

#sol {
    background-image: linear-gradient(to top,#d6e8ee, #97cadb);
}

#ciel {
    background-image: linear-gradient(to top,#97cadb, #018abe);
}

#tesla {
    background-image: linear-gradient(to top,#018abe, #02457a);
}