@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    overflow-x: hidden;
}

.exo2 {
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.number {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.hfull {
    height: 100vh;
    width: 100vw;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.solstatic {
    background-image: linear-gradient(to right, #d6e8ee, #97cadb);
}

.ciel {
    background-image: linear-gradient(to right, #97cadb, #018abe);
}

.tesla {
    background-image: linear-gradient(to right, #018abe, #001b48);
}

.soleil {
    background-color: #001b48;
    color: white;
    gap: 10%;
    overflow: hidden;
    .fondetoile{
        position: fixed;
        width: 150%;
        height: 150%;
        z-index: -1;
    }
    .planete{
        width: 30%;
    }
    .soleildiv{
        width: 40%;
    }
}

.mercure {
    background-color: #001b48;
    color: white;
    gap: 10%;
    overflow: hidden;
    .fondetoile{
        position: fixed;
        width: 150%;
        height: 150%;
        z-index: -1;
    }
    .planete{
        width: 30%;
    }
    .mercurediv{
        width: 40%;
    }
}

.venus {
    background-color: #001b48;
    color: white;
    gap: 10%;
    overflow: hidden;
    .fondetoile{
        position: fixed;
        width: 150%;
        height: 150%;
        z-index: -1;
    }
    .planete{
        width: 30%;
    }
    .venusdiv{
        width: 40%;
    }
}

.terre {
    background-color: #001b48;
    color: white;
    gap: 10%;
    overflow: hidden;
    .fondetoile{
        position: fixed;
        width: 150%;
        height: 150%;
        z-index: -1;
    }
    .planete{
        width: 30%;
    }
    .terrediv{
        width: 40%;
    }
}

.lune {
    background-color: #001b48;
    color: white;
    gap: 10%;
    overflow: hidden;
    .fondetoile{
        position: fixed;
        width: 150%;
        height: 150%;
        z-index: -1;
    }
    .planete{
        width: 30%;
    }
    .lunediv{
        width: 40%;
    }
}

.mars {
    background-color: #001b48;
    color: white;
    gap: 10%;
    overflow: hidden;
    .fondetoile{
        position: fixed;
        width: 150%;
        height: 150%;
        z-index: -1;
    }
    .planete{
        width: 30%;
    }
    .marsdiv{
        width: 40%;
    }
}

.jupiter {
    background-color: #001b48;
    color: white;
    gap: 10%;
    overflow: hidden;
    .fondetoile{
        position: fixed;
        width: 150%;
        height: 150%;
        z-index: -1;
    }
    .planete{
        width: 30%;
    }
    .jupiterdiv{
        width: 40%;
    }
}

.saturne {
    background-color: #001b48;
    color: white;
    gap: 10%;
    overflow: hidden;
    .fondetoile{
        position: fixed;
        width: 150%;
        height: 150%;
        z-index: -1;
    }
    .planete{
        width: 30%;
    }
    .saturnediv{
        width: 40%;
    }
}

.uranus {
    background-color: #001b48;
    color: white;
    gap: 10%;
    overflow: hidden;
    .fondetoile{
        position: fixed;
        width: 150%;
        height: 150%;
        z-index: -1;
    }
    .planete{
        width: 30%;
    }
    .uranusdiv{
        width: 40%;
    }
}

.neptune {
    background-color: #001b48;
    color: white;
    gap: 10%;
    overflow: hidden;
    .fondetoile{
        position: fixed;
        width: 150%;
        height: 150%;
        z-index: -1;
    }
    .planete{
        width: 30%;
    }
    .neptunediv{
        width: 40%;
    }
}

.wrapper {
    display: flex;
    /* Passe la direction en ligne (horizontale) */
    flex-direction: row;
    /* Changer la direction des items en ligne */
    width: 1300vw;
    /* Largeur de 3 fois la largeur de la fenêtre (1 pour chaque div) */
    height: 100vh;
}

.verticalReverse {
    max-height: 100vh;
    width: 100vw;
}

#fusee {
    width: 40%;
    position: fixed;
    top: 50%;
    left: -180px;
    transform: translateY(-50%);
    transform: rotate(90deg);
    z-index: 10;
}

.count {
    font-size: 10rem;
    position: relative;
}

.count::before {
    content: "3";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: countdown 3s steps(1) forwards;
}

@keyframes countdown {
    0% {
        content: "3";
    }
    33.33% {
        content: "2";
    }
    66.66% {
        content: "1";
    }
    100% {
        content: "0";
    }
}

.nuage{
    width: 20%;
}

.txtend{
    text-align: end;
}